@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;600;700&display=swap');

:root {
    --black: #000;
    --white: #fff;
    --bg-color: #333;

    --font-family: 'Montserrat', sans-serif;

    // --tw-ring-inset: var(--tw-empty, /*!*/ /*!*/);
    // --tw-ring-offset-width: 0px;
    // --tw-ring-offset-color: #fff;
    // --tw-ring-color: rgba(59, 130, 246, 0.5);
    // --tw-ring-offset-shadow: 0 0 transparent;
    // --tw-ring-shadow: 0 0 transparent;

    // Default layout
    --default-layout-width: 1392px;
    --default-layout-header-height: 68px;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: 1.6rem;
    line-height: inherit;
    text-rendering: optimizeSpeed;
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}
