.hero-slider {
    width: 100%;
    height: 1070.55px;
    overflow: hidden;
    position: relative;
    margin-bottom: 50px;

    &__item {
        display: flex;
        justify-content: space-between;
        align-items: center;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        position: absolute;
        inset: 0;
        cursor: pointer;

        &.active {
            opacity: 1;
            visibility: visible;
            pointer-events: visible;
            transition: all ease-in-out 2s;
        }
    }

    &__control {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        bottom: 5px;
        left: 50%;
        transform: translateX(-50%);

        .prev-btn,
        .next-btn {
            cursor: pointer;
            color: var(--white);
        }

        &__item ~ &__item {
            margin-left: 10px;
        }

        &__item {
            .index {
                color: var(--white);
                font-size: 1.5rem;
            }
        }
    }
}
