.wrapper {
    display: flex;
    width: 288px;
    height: 57px;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e7eb;
    .items {
        padding: 1rem 1.75rem;
        width: 255px;
        text-align: left;
        h5 {
            font-size: 1.6rem;
            font-weight: 400;
            color: var(--black);
        }
    }
}
