.wrapper {
    width: 100%;
    padding-top: 8px;
    min-height: 32px;
    text-align: center;
    color: var(--black);
    border-bottom-width: 1px;
    border: 0 solid #e5e7eb;
    background-color: #d1d5db;
}
