.section {
    max-width: var(--default-layout-width);
    margin: 30px auto;
    position: relative;

    & > * ~ * {
        margin-top: 20px;
    }

    &__title {
        font-size: 2rem;
        text-transform: capitalize;
        text-align: center;
    }
}

.section__title {
    margin-top: 50px;
}
